/* .vitepress/theme/custom.css */

:root {
  --vp-c-brand-1: #2B663C;  /* name */
  --vp-c-brand-2: #B43230;  /* brand botton hover */
  --vp-c-brand-3: #2B663C;  /* brand button background */
}

.dark {
  --vp-c-brand-1: #FF97C8;  /* name */
  --vp-c-brand-2: #CC6798;  /* brand botton hover */
  --vp-c-brand-3: #FF97C8;  /* brand button background */
  
}

/*
metaPhorest Green:  #2B663C
metaPhorest Dark (Pink):  #FF97C8
*/